@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Inter', sans-serif;
}

body {
  @apply bg-dark text-white font-sans;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
